*{
    padding: 0px;
    margin: 0px;
    
}
.parent{
    background-color: aqua;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    gap: 20px;
}
.child1{
    background-color: black;
    height: 200px;
    width: 200px;
    display: flex;
     justify-content: center;
     margin-top: 200px;
     text-align: center;
     align-items: center;
     
    
}


