*{
    padding: opx;
    margin:0px;
}
.parent{
    background-color: blue;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.child1{
    display: flex;
    background-color: black;
    height: 200px;
    width: 200px;
    color: antiquewhite;
    align-items: center;
    }
    .parent2{
        background-color: aqua;
        height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .child2{
        background-color: aliceblue;
        color: black;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }