*{
    padding: 0px;
    margin: 0px;
    
}
nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    text-align: center;
    align-items: center;
    gap: 40px;
}