*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.head{
    background-color: yellow;
}
.h{
    color: black;
    background-color: rgb(149, 149, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main{
    background-color: blue;
}
.di{
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
}
.butt h1:hover{
    background-color: aqua;
}