*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.html{
    scroll-behavior: smooth;
}
.body{
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.task{
    background-color: grey;
    color: antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box{
   
    height: 210px;
    width: 210px;
    border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 450px;
   border-radius: 40px;
   margin-top: 40px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    
}
.content :hover {
    transform: scale(1.2);
    overflow: hidden;
}
 *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        .carousel{
            width:80%;
            height:400px;
            margin:40px auto;
            overflow:hidden;
            border-radius:10px;
        }

        .slides{
            display:flex;
            width:300%;
            animation:slide 12s infinite;
        }

        .slides img{
            width:100%;
            height:400px;
            object-fit:cover;
        }

        @keyframes slide{
            0%,30%{
                transform:translateX(0);
            }
            35%,65%{
                transform:translateX(-100%);
            }
            70%,100%{
                transform:translateX(-200%);
            }
        }







