*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.html{
    scroll-behavior: smooth;
}
.body{
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.task{
    background-color: grey;
    color: antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box{
   
    height: 210px;
    width: 210px;
    border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 450px;
   border-radius: 40px;
   margin-top: 40px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    
}
.content :hover {
    transform: scale(1.2);
    overflow: hidden;
}
.bdy{
    background-color: rgb(136, 130, 130);
}
#butt{
      transition:0.3s;
}
#butt:hover{
 
    transform:scale(1.1);
   
}