*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.cls{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
   

    
}
.clsss{
    display: flex;
    margin-top: 20px;
    align-items: end;
    height: 30px;
    gap: 40px;
    
}

    
    

   

.parent{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:space-around;
    height:200px ;
    width:1500px;
    color: aliceblue;

}
.child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
   

} 

   .child2{
    display: flex;
    flex-direction: row;
    
   }

    
   

.parent2{
    background-color: rgb(254, 254, 254);
    display: flex;
}
.mx{
    height: 60px;
    
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    gap: 140px;
    align-items:center;
    padding: 100px;

}
.mx1{
    padding: 10px;
    margin-top:2px;
    align-items: center;
    color: aliceblue;
}
.m{
    display: flex;
    background-color: rgb(234, 240, 240);
    justify-content: space-around;
    
}