*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.cls{
    display: flex;
    background-color: rgb(255, 255, 255);.

    
}
.clsss{
    display: flex;
    margin-top: 40px;
    align-items: end;
    height: 30px;
}
.clss{
    display: flex;
    gap: 20px;
    margin-left: 700px;
    color: black;
    align-items: center;
    
    

   
}
.parent{
    background-color: rgb(247, 247, 247);
    display: flex;
    gap: 10px;
    justify-content:space-between;
    height:200px ;
    width:1500px;
    color: aliceblue;

}
.child{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 200px;
    width: 1500px;

} 

   .child2{
    display: flex;
    flex-direction: row;
    
   }

    
   

.parent2{
    background-color: black;
    display: flex;
}
.mx{
    height: 60px;
    
    background-color: brown;
    display: flex;
    justify-content: space-around;
    gap: 140px;
    align-items:center;
    padding: 100px;

}
.mx1{
    padding: 10px;
    margin-top:2px;
    align-items: center;
}
.m{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    
}