*{
    background-color: black;
    color: blueviolet;
}
.head{
    background-color: brown;
    color: aqua;
}
#title{
    background-color: azure;
    color: black;
}
#tit{
    background-color: blanchedalmond;
    color: aquamarine;
}